<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - ShoeHouse</title>
    @Styles.Render("~/Content/theme-admin-css")
</head>
<body>
    <div class="container body-content">
        <div class="header">
            <div class="menu">
                @Html.ActionLink("Site", "index", "home")
                @Html.ActionLink("Articles admin", "index", "admin")
                @Html.ActionLink("Stores admin", "index", "storesadmin")
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Francisco Lopez</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
